{{> head }}
    
    {{> header }}

    <!-- Aquí imagen principal -->
    <div class="first">
        <h2>{{titulo}}</h2>
    </div>

    <div class="content">
        <hr> <br>
        {{text1}} <br><br>
        {{text2}} <br><br>
        {{text3}} <br><br>
        <hr>
        <a href="{{amazon}}">CLIC AQUI PARA OBTENER LA SERIE/PELICULA</a>
    </div>

    <!-- Aquí muestra las series principales -->
    <div class="series">
        <h1>Seleccione alguna serie</h1>
        <div>
            <ul>
                <li>
                    <a href="/beyond-the-boundary">
                        <img src="assets/4bf989dbd52c730cfe4ef82c67a57785--beyond-the-boundary-kyoukai-no-kanata.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="/inou-battle-wa-nichijou-kei-no-naka-de">
                        <img src="assets/Inou.Battle.wa.Nichijou-kei.no.Naka.de.full.1759569.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a href="/one-week-friends">
                        <img src="assets/71qcfE9HoEL._AC_SL1280_.jpg" alt="">
                    </a>
                </li>
            </ul>
        </div>

    </div>

{{> footer  }}